<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<%= stylesheet_link_tag "/css/style.css", :media => "all" %>
		<meta charset=utf-8 />
		<title><%= @title ? @title : SITENAME %></title>
		<meta charset="utf-8" />
	</head>
	<body>
		<%= yield %>
		<%= javascript_script_tag "js/jquery.min.js"    %>
		<%= javascript_script_tag "js/bootstrap.min.js" %>
		<%= javascript_script_tag "/js/app.js" %>
	</body>
</html>