<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<%= stylesheet_link_tag "/css/style.css", :media => "all" %>
		<%= stylesheet_link_tag "/css/font-awesome.min.css", :media => "all" %>
		<%= stylesheet_link_tag "/css/buttons.css", :media => "all" %>
		<%= stylesheet_link_tag "/css/jquery.jqplot.css", :media => "all" %>
		<%= stylesheet_link_tag "/css/index.css", :media => "all" %>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
		<!-- <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css"> -->
		<meta charset=utf-8 />
		<title><%= @title ? @title : SITENAME %></title>
		<meta charset="utf-8" />
	</head>
	<body>
		<%= yield %>
		<%= javascript_script_tag "js/jquery.min.js"    %>
		<%= javascript_script_tag "http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js" %>
		<%= javascript_script_tag "js/bootstrap.min.js" %>
		<%= javascript_script_tag "/js/buttons.js" %>
		<%= javascript_script_tag "/js/highcharts.js" %>
		<%= javascript_script_tag "/js/jquery.jqplot.min.js" %>
		<%= javascript_script_tag "/js/plugins/jqplot.barRenderer.min.js" %>
		<%= javascript_script_tag "/js/plugins/jqplot.categoryAxisRenderer.js" %>
		<%= javascript_script_tag "/js/plugins/jqplot.canvasTextRenderer.js" %>
		<%= javascript_script_tag "/js/plugins/jqplot.canvasAxisLabelRenderer.js" %>
		<%= javascript_script_tag "/js/app.js" %>
		<%= javascript_script_tag "/js/typeahead.min.js" %>
		<%= javascript_script_tag "/js/index.js" %>
	</body>
</html>
