<div class="navbar-wrapper">
	<div class="container">
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><%= t.company_name %></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<% App.sections.each_with_index do |section,k| %>
							<li class="<%=k==0 ? 'active ' : '' %>marketing_toggle_button">
								<a href="#<%= section.last["title"].gsub(' ','_') %>_tab" data-toggle="tab"><%= section.last["title"] %></a>
							</li>
						<% end %>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<%= erb :"index/_login_button" %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>